*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(246, 247, 248);
}

#index-body {
  align-items: center;
}

main {
  flex-grow: 1;
  width: calc(100% - 232px);
  margin-left: 232px;
  margin-top: 100px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  display: none;
}

.max-width-1920 {
  max-width: 1920px;
}

.hide {
  display: none !important;
}

#help-button {
  display: none;
}

.User-bc-1 {
  background-color: rgb(255, 122, 0);
}

.User-bc-2 {
  background-color: rgb(255, 94, 179);
}

.User-bc-3 {
  background-color: rgb(110, 82, 255);
}

.User-bc-4 {
  background-color: rgb(147, 39, 255);
}

.User-bc-5 {
  background-color: rgb(0, 190, 232);
}

.User-bc-6 {
  background-color: rgb(31, 215, 193);
}

.User-bc-7 {
  background-color: rgb(255, 116, 94);
}

.User-bc-8 {
  background-color: rgb(255, 163, 94);
}

.User-bc-9 {
  background-color: rgb(252, 113, 255);
}

.User-bc-10 {
  background-color: rgb(255, 199, 1);
}

.User-bc-11 {
  background-color: rgb(0, 56, 255);
}

.User-bc-12 {
  background-color: rgb(195, 255, 43);
}

.User-bc-13 {
  background-color: rgb(255, 230, 43);
}

.User-bc-14 {
  background-color: rgb(255, 70, 70);
}

.User-bc-15 {
  background-color: rgb(255, 187, 43);
}
