*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body{
  font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(246, 247, 248);
}

header {  
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

header img {
  height: 85px;
  margin-top: 80px;
}

#header-div {
  display: flex;
  align-items: center;
}

#header-div p {
  margin-right: 35px;
}

#btn-login-div {
  display: flex;
}

#btn-login-div .grey-btn {
  margin-right: 20px;
}

.grey-btn {
  background-color: rgb(42, 54, 71);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 70px;
  font-weight: bold;
}

.grey-btn:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.white-btn {
  background-color: white;
  color: rgb(42, 54, 71);
  cursor: pointer;  
  border-radius: 5px;
  height: 35px;
  width: 120px;
  font-weight: bold;
  border: 1px solid;
}

.white-btn:hover {
  border-color: rgb(41, 171, 226);
  color: rgb(41, 171, 226);
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);  
  border: 2px solid;
}

main {
  flex-grow: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu-div {
  background-color: rgb(255,255,255);
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.menu-div h1 {
  margin-top: 40px;
}

.divider-line {
  margin-top: 10px;
  border-top: 1px solid rgb(41, 171, 226);
  width: 70px;
}

.input-divider {
  display: flex;
  align-items: end;
}

.menu-input {
  margin-top: 20px;
  width: 320px;  
  height: 40px;
  border: 1px solid rgb(221, 221, 221);
  border-right: none;
  border-radius: 8px 0 0 8px;
  padding: 0 10px;
}

.icon {
  width: 40px;
  height: 40px;  
  margin-top: 20px;  
  border-radius: 0 8px 8px 0;
  border: 1px solid rgb(221, 221, 221);
  border-left: none;
  padding: 10px;
}

.btn-menu-div {
  margin: 40px 0;
}

.input-divider:focus-within input {
  outline: none;
  border-color: rgb(41, 171, 226) !important;
}

.input-divider:focus-within .icon {
  border-color: rgb(41, 171, 226);
}

.wrongPassword {
  border-color: rgb(255, 64, 87);
}

#checkbox-input-sign-up {
  cursor: pointer;
}

#checkbox-divider-sign-up {
  display: flex;
  margin-top: 20px;
}

#checkbox-divider-sign-up p {
  color: rgb(168, 168, 168);
  margin-left: 10px;
}

#privacy-link-checkbox {
  color: rgb(41, 171, 226);
  cursor: pointer;
}

#privacy-link-checkbox:hover {
  text-decoration: underline;
}

#arrow-left {
  width: 20px;
}

#back-btn {
  width: 30px;
  height: 30px;
  position: relative;
  top: 75px;
  right: 200px;
  border: none;
  color: rgb(41, 171, 226);
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#back-btn:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 50%;
}

.wrong-password-div {
  width: 360px;
}

.wrong-password-info {
  color: rgb(255, 64, 87);
  font-size: 12px;
  margin-top: 5px;
}

input:-webkit-autofill {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

footer {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div span {
  margin: 0 10px;  
  color: rgb(168, 168, 168);
}

footer div span:hover {
  color: rgb(41, 171, 226);
  cursor: pointer;
}

.animation-hide {
  display: none !important;
}

.mw1920 {
  max-width: 1920px;
}

.slide-out-tl {
  animation: slide-out-tl 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   animation-delay: 1s;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-5-9 11:37:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */



/*@keyframes slide-out-tl {
  100% {
    transform: translateY(-340px) translateX(-360px) scale(0.2) ;
    opacity: 1;
  }
  0% {

    transform: translateY(50px) translateX(0);
    opacity: 1;
  }
}*/

@keyframes slide-out-tl {
  0% {
    transform: translate(calc(50vw - 136.95px), calc(50vh - 167px)) scale(3.9411);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) translateX(0px) ;
    opacity: 1;
  }
}
