body {
    display: flex;
    margin: 0;
    height: 100vh;
    
}

nav{
    background-color: #2a3647;
     width: 300px;
    display: flex;
    flex-direction: column;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.j-logo{
    width: 100px;
    height: 100px;
}

a {
    color: white;
}

.nav-links{
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    height: 100vh;
}

.link-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 30px;
}

.link-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px ;

}