.add-task-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
  overflow: hidden;
}

.add-task-form p {
  margin-bottom: 8px;
}

.span-div {
  display: flex;
}

.span-div span {
  color: rgb(254, 136, 151);
}

.add-task-text-div {
  width: 50%;
  margin-right: 36px;
}

.margin-top-24 {
  margin-top: 24px !important;
}

#task-title,
#task-date,
#task-date-edit,
#task-title-edit {
  height: 36px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  font-size: 16px;
}

#task-date,
#task-date-edit {
  cursor: pointer;
}

#task-title:focus,
#task-title-edit:focus,
#task-description:focus,
#task-description-edit:focus,
#task-date:focus,
#task-date-edit:focus {
  border: 1px solid rgb(93, 190, 231) !important;
  outline: none;
}

#task-description,
#task-description-edit {
  height: 108px;
  width: 100%;
  padding: 10px;
  font-family: "Inter", sans-serif;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  font-size: 16px;
}

.add-task-form-divider {
  align-self: center;
  width: 1px;
  height: 80%;
  border-left: 1px solid rgb(227, 228, 228);
}

.li-buttons {
  height: 24px;
}

.add-task-select-div {
  width: 50%;
  margin-left: 36px;
}

.add-task-select-div button {
  margin-bottom: 16px;
}

.add-task-importance-selection {
  display: flex;
  gap: 16px;
}

.add-task-importance-selection button {
  height: 42px;
  flex-grow: 1;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
}

.add-task-importance-selection button:hover {
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.4);
}

.drop-down-selection {
  width: 100%;
  height: 36px;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px 0 0 5px;
  border-right: none;
  cursor: pointer;
  text-align: left;
  padding-left: 8px;
  font-size: 16px;
  box-shadow: -1px 1px rgb(219, 219, 219);
}

.drop-down-selection:hover {
  box-shadow: -1px 1px rgba(0, 0, 0, 0.4);
}

.subtask-div {
  display: flex;
}

#subtasks-div {
  max-height: 175px;
  overflow-y: scroll;
}

.subtask-div input {
  height: 36px;
  flex-grow: 1;
  border: 1px solid rgb(219, 219, 219);
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding-left: 8px;
  cursor: pointer;
  font-size: 16px;
}

.subtask-div button {
  height: 36px;
  width: 36px;
  font-size: 24px;
  border: 1px solid rgb(219, 219, 219);
  border-left: none;
  background-color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#clear-task-button {
  background-color: white;
  color: rgb(42, 54, 71);
  cursor: pointer;
  border-radius: 10px;
  height: 45px;
  width: 100px;
  font-weight: bold;
  border: 1px solid;
  font-size: 16px;
}

#clear-task-button:hover {
  border-color: rgb(41, 171, 226);
  color: rgb(41, 171, 226);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid;
}

#create-task-button {
  background-color: rgb(42, 54, 71);
  color: white;
  cursor: pointer;
  border: 1px transparent;
  border-radius: 10px;
  height: 45px;
  width: 150px;
  font-weight: bold;
  font-size: 16px;
}

#create-task-button:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

#add-task-close-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

#add-task-close-div button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}

#add-task-close-div button:hover {
  background-color: rgb(219, 219, 219);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 999;
}

.transparent {
  background-color: transparent !important;
}

.pop-up {
  position: absolute;
  background-color: white;
  margin: auto;
  width: 75%;
  height: 90%;
  padding: 75px;
  padding-top: 50px;
  border-radius: 25px;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: opacity 0.2s ease;
}

.add-task-select-div {
  max-height: 100%;
}

/* Animationen */
@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.pop-up.slide-in {
  animation: slideInFromLeft 0.2s forwards;
  pointer-events: auto;
}

.pop-up.slide-out {
  animation: slideOutToRight 0.2s forwards;
  pointer-events: none;
}

@media (max-width: 840px) {
  #add-task-pop-up {
    padding: 24px;
  }
  .add-task-form {
    flex-direction: column;
    overflow: scroll;
  }

  .add-task-form-divider {
    display: none;
  }

  .add-task-text-div,
  .add-task-select-div {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
  }

  .bottom-section {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  #clear-task-button,
  #create-task-button {
    width: 100%;
    max-width: 300px;
  }

  #required-div p{
    display: none;
  }

  #button-div {
    position: static;
    display: flex;
    flex-direction: column;
    width: 25%
  }

  #clear-task-button {
    margin-bottom: 24px;
  }

  #required-div-mobile {
    margin-top: 24px;
    display: flex;
  }

  #required-div {
    display: none;
  }

  .add-task-form {
    height: 50vh;
    margin-bottom: 24px;
  }
}

@media (min-width: 840px) {
  #subtask-render-div {
    overflow-y: scroll;
    max-height: 100px;
  }
}