#board-task-pop-up {
  position: fixed;
  background-color: white;
  padding: 30px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 13;
}

#board-task-pop-up::-webkit-scrollbar {
  display: none;
}

#board-task-information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#board-task-edit input,
#board-task-edit textarea,
#board-task-edit button {
  flex-shrink: 0;
}

#task-pop-up-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

#task-pop-up-nav p {
  background-color: rgb(0, 56, 255);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

#task-pop-up-nav button {
  cursor: pointer;
  background-color: white;
  width: 20px;
  height: 20px;
  font-weight: bold;
}

#task-pop-up-nav button:hover {
  background-color: rgb(246, 247, 248);
  border-radius: 50%;
}

.pop-up-margin-b-25 {
  margin-bottom: 25px;
}

#board-task-pop-up div {
  display: flex;
}

#assigned-users-div,
#subtasks-div {
  flex-direction: column;
}

#assigned-users-div {
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#assigned-users-div::-webkit-scrollbar {
  display: none;
}

.pop-up-margin-b-10 {
  margin-bottom: 10px;
}

.gap-10 {
  gap: 10px;
}

.gap-10 input {
  cursor: pointer;
}

.at-center {
  align-items: center;
}

#subtasks-div div {
  padding: 4px 10px;
  border-radius: 5px;
}

#subtasks-div div:hover {
  background-color: rgb(231, 231, 231);
  cursor: default;
}

#assigned-users-div div {
  margin-left: 18px;
}

#pop-up-bottom-buttons {
  height: 24px;
  justify-content: end;
  gap: 4px;
  display: flex;
  margin-top: auto;
}

#pop-up-bottom-buttons button {
  cursor: pointer;
  background-color: white;
  align-items: center;
  display: flex;
}

#pop-up-bottom-buttons button img {
  margin-right: 8px;
}

#pop-up-bottom-buttons button:hover {
  font-weight: bold;
  color: rgb(41, 171, 226);
}

#pop-up-bottom-buttons button:hover img {
  filter: brightness(0) saturate(100%) invert(50%) sepia(88%) saturate(2500%) hue-rotate(165deg)
    brightness(90%) contrast(85%);
}

#pop-up-bottom-buttons div {
  height: 100%;
  width: 1px;
  background-color: rgb(221, 221, 221);
}

.hide {
  display: none !important;
}

.center-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 12;
}

#board-task-edit,
#edit-add-task-text-div {
  display: flex;
  flex-direction: column;
}

#board-task-edit {
  height: 100%;
}

#edit-add-task-text-div {
  width: 100%;
  height: 550px;
  overflow-y: scroll;
  flex-grow: 1;
  margin-bottom: 20px;
}

#board-task-edit-x {
  align-self: flex-end;
  cursor: pointer;
  background-color: white;
  margin-bottom: 15px;
  width: 20px;
  height: 20px;
  font-weight: bold;
  border-radius: 50%;
}

#board-task-edit-x:hover {
  background-color: rgb(221, 221, 221);
}

#edit-add-task-text-div p {
  margin: 8px 0;
}

#board-task-edit-ok {
  align-self: flex-end;
  margin-top: auto;
  height: 40px;
  width: 70px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(42, 54, 71);
  color: white;
  border-radius: 5px;
}

.margin-top-20 {
  margin-top: 20px;
}

li {
  margin-bottom: 20px;
  margin-left: 32px;
}

#board-task-edit-ok:hover {
  background-color: rgb(41, 171, 226);
}

#drop-down-users-input-div {
  display: flex;
  margin-bottom: 16px;
}

#drop-down-users-input-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1px;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 0 5px 5px 0;
  border-left: none !important;
  box-shadow: 0px 1px rgb(219, 219, 219);
  width: 24px;
  cursor: pointer;
  margin-bottom: 0;
  padding-left: 7px;
  padding-right: 7px;
}

#drop-down-users-input {
  outline: none;
}

#drop-down-users-edit {
  max-height: 240px;
}

.edit-302 {
  width: 302px;
}

.disable-scrolling,
html.disable-scrolling {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 625px) {
  #board-task-pop-up {
    max-height: 80vh;
    width: 90%;
    max-width: 90vw;
  }
}

@media (min-width: 2700px) {
  #board-task-pop-up {
    left: 45%;
  }
}

@media (min-width: 2800px) {
  #board-task-pop-up {
    left: 40%;
    top: 35%;
  }
}

@media (min-width: 3300px) {
  #board-task-pop-up {
    left: 35%;
  }
}

@media (min-width: 3700px) {
  #board-task-pop-up {
    left: 30%;
  }
}
