body {
    display: flex;
}
header {
    width: 100%;    
    height: 100px;
    width: calc(100% - 232px);    
    margin-left: 232px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 5px 1px 1px 5px #e4e2e2;
}

.header-and-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-and-icon h2 {
    padding-left: 150px;
}

.help-person-icon {
    padding-right: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

main {
    flex-grow: 1;
    width: calc(100% - 232px);
    margin-left: 232px;
}

.board-header {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.board-header-btns {
    display: flex;
}

.board-search {
    display: flex;
    align-items: center;
}

.board-search input, button {
    border: none;
}

.input-divider {
    height: 80%;
    border-left: 1px solid black;
}