.contacts-container {
  width: 456px;
  height: calc(100vh - 100px);
  background-color: #ffffff;
  box-shadow: 3px 3px 3px rgb(230, 231, 231);
  display: flex;
  flex-direction: column;
}

.contacts-page {
  display: flex;
  align-items: flex-start;
}

.contacts-page h1 {
  font-size: 61px;
}

.contacts-details {
  display: flex;
  flex-direction: column;
  margin-left: 55px;
  transform: translate(100vw, 0);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-details.active {
  transform: translate(0, 0);
}

.contacts-header {
  display: flex;
  align-items: center;
  margin-top: 106px;
  gap: 30px;
  margin-left: 52px;
}

.contacts-header img {
  height: 63px;
  width: 4px;
}

.header-right-side {
  font-size: 27px;
}

.contacts {
  padding-left: 52px;
  flex: 1 1 auto;
  overflow-y: auto;
}

.contact {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 32px;
  cursor: pointer;
  border-radius: 10px;
}

.contact:hover {
  background: linear-gradient(to top, #f0f0f0 0%, #f9f9f9 100%);
}

.contact-details {
  margin-left: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #2a3647;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  min-height: 56px;
  width: 352px;
  border-radius: 10px;
  margin-top: 22px;
  margin-left: 52px;
  margin-bottom: 29px;
  cursor: pointer;
  border: none;
  position: sticky;
  top: 0;
  z-index: 1;
}

.add-contact-button:hover {
  background-color: rgb(0, 190, 232);
}

.email-color {
  color: #007cee;
  font-size: 16px;
}

.contact-list-name {
  font-size: 20px;
  padding-bottom: 5px;
}

.letter {
  font-size: 20px;
  padding-bottom: 25px;
  margin-left: 32px;
}

hr {
  width: 352px;
}

.contact-information-mt {
  margin-top: 30px;
}

.contact-information-initials {
  font-size: 47px;
  color: white;
  background-color: aqua;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-information-username {
  font-size: 47px;
}

.edit-and-delete {
  display: flex;
  gap: 12px;
}

.align-icon-and-text {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: 0.2s;
}

.align-icon-and-text:hover {
  color: rgb(0, 190, 232);
  filter: invert(54%) sepia(98%) saturate(749%) hue-rotate(161deg) brightness(99%) contrast(101%);
  transform: scale(1.1);
}

.edit-delete-icons {
  height: 20px;
  width: 20px;
}

.contact-information-headline {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.initials-and-username {
  display: flex;
  gap: 100px;
}

.d_none {
  display: none;
}

#contactOverlay,
#editOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(100vw, -50%);
  background-color: white;
  height: 592px;
  width: 1212px;
  z-index: 2000;
  border-radius: 24px;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

#contactOverlay p,
#editOverlay p {
  font-size: 27px;
}

#contactOverlay.active,
#editOverlay.active {
  transform: translate(-50%, -50%);
}

#contactOverlay h1,
#editOverlay h1 {
  font-size: 61px;
  font-weight: bold;
}

.body-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1500;
}

.contact-overlay-header {
  background-color: #2a3647;
  color: #ffffff;
  height: 100%;
  border-radius: 24px 0 0 24px;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 467px;
}

.contact-overlay-header > *:first-child {
  margin-top: -80px;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px;
}

.contact-inputs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 32px;
  gap: 40px;
}

.join-logo-img {
  width: 55px;
  height: 66px;
}

.add-contact-overlay-line {
  width: 90px;
}

.contact-input {
  height: 50px;
  width: 422px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding-left: 12px;
  font-size: 20px;
}

.contact-input::placeholder {
  padding-left: 12px;
  font-size: 20px;
  color: #d1d1d1;
}
.contact-input:focus {
  border: 2px solid rgb(0, 190, 232);
  outline: none;
}

.cancel-button,
.create-contact-button {
  height: 56px;
  font-size: 21px;
  padding: 0 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cancel-button {
  background-color: white;
  border: 1px solid;
  transition: all 0.2s ease-in-out;
}

.cancel-button:hover {
  border: 1px solid rgb(0, 190, 232);
  color: rgb(0, 190, 232);
}

.create-contact-button {
  background-color: #2a3647;
  color: white;
  font-weight: bold;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.create-contact-button:hover {
  background-color: rgb(0, 190, 232);
}

.contact-inputs-buttons {
  display: flex;
  gap: 24px;
}
