.contacts-container {
  width: 456px;
  height: calc(100vh - 100px);
  background-color: #ffffff;
  box-shadow: 3px 3px 3px rgb(230, 231, 231);
  display: flex;
  flex-direction: column;
}

.contacts-page {
  display: flex;
  align-items: flex-start;
}

.contacts-page h1 {
  font-size: 61px;
}

.contacts-details {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  transform: translate(100vw, 0);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-details.active {
  transform: translate(0, 0);
}

.contacts-header {
  display: flex;
  align-items: center;
  margin-top: 106px;
  gap: 30px;
  margin-left: 5%;
}

.contacts-header img {
  height: 63px;
  width: 4px;
}

.header-right-side {
  font-size: 27px;
}

.contacts {
  padding-left: 52px;
  flex: 1 1 auto;
  overflow-y: auto;
}

.contact {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 352px;
  height: 78px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.contact:hover:not(.active) {
  background: linear-gradient(to top, #f0f0f0 0%, #f9f9f9 100%);
}

.contact.active {
  background-color: #2a3647;
  color: white;
}

.contact-initials {
  background-color: red;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-initials.active {
  border: 2px solid #ffffff;
}

.contact-details {
  margin-left: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #2a3647;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  min-height: 56px;
  width: 352px;
  border-radius: 10px;
  margin-top: 22px;
  margin-left: 52px;
  margin-bottom: 29px;
  cursor: pointer;
  border: none;
  position: sticky;
  top: 0;
  z-index: 1;
}

.add-contact-button:hover {
  background-color: rgb(0, 190, 232);
}

.email-color {
  color: #007cee;
  font-size: 16px;
}

.contact-list-name {
  font-size: 20px;
  padding-bottom: 5px;
}

.letter {
  font-size: 20px;
  padding-bottom: 25px;
  margin-left: 32px;
}

hr {
  width: 352px;
}

.contact-information-mt {
  margin-top: 30px;
}

.contact-information-initials {
  font-size: 47px;
  color: white;
  background-color: aqua;
  min-width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-information-username {
  font-size: 47px;
}

.edit-and-delete {
  display: flex;
  gap: 12px;
}

.align-icon-and-text {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: 0.2s;
}

.align-icon-and-text:hover {
  color: rgb(0, 190, 232);
  filter: invert(54%) sepia(98%) saturate(749%) hue-rotate(161deg) brightness(99%) contrast(101%);
  transform: scale(1.1);
}

.edit-delete-icons {
  height: 20px;
  width: 20px;
}

.contact-information-headline {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.initials-and-username {
  display: flex;
  gap: 100px;
  padding-right: 30px;
}

.d_none {
  display: none;
}

#addContactOverlay,
#editOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(100vw, -50%);
  background-color: white;
  height: 592px;
  max-width: 1212px;
  z-index: 2000;
  border-radius: 24px;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

#addContactOverlay p,
#editOverlay p {
  font-size: 27px;
}

#addContactOverlay.active,
#editOverlay.active {
  transform: translate(-50%, -50%);
}

#addContactOverlay h1,
#editOverlay h1 {
  font-size: 61px;
  font-weight: bold;
}

.body-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1500;
}

.contact-overlay-header {
  background-color: #2a3647;
  color: #ffffff;
  height: 100%;
  border-radius: 24px 0 0 24px;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 467px;
}

.close-icon {
  position: absolute;
  top: 60px;
  right: 50px;
  cursor: pointer;
  z-index: 2001;
}

.close-icon:hover {
  background-color: #eeeeee;
  border-radius: 50%;
}

.contact-overlay-header > *:first-child {
  margin-top: -80px;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.contact-inputs div {
  margin-top: 24px;
  margin-bottom: 20px;
}

.contact-inputs > div {
  position: relative;
}

.contact-inputs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 32px;
  gap: 40px;
}

.contact-error {
  color: red;
  font-size: 12px !important;
  position: absolute;
  left: 12px;
  margin-top: 4px;
  z-index: 1;
}

#name-error-msg,
#name-error-msg-edit {
  top: 95px;
  left: 24px;
}

#email-error-msg,
#email-error-msg-edit {
  top: 190px;
  left: 24px;
}

#phone-error-msg,
#phone-error-msg-edit {
  top: 285px;
  left: 24px;
}

.join-logo-img {
  width: 55px;
  height: 66px;
}

.add-contact-overlay-line {
  width: 90px;
}

.contact-input {
  height: 50px;
  width: 422px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding-left: 12px;
  padding-right: 45px;
  font-size: 20px;
}

.contact-input::placeholder {
  padding-left: 12px;
  font-size: 20px;
  color: #d1d1d1;
}
.contact-input:focus {
  border: 2px solid rgb(0, 190, 232);
  outline: none;
}

.cancel-button,
.create-contact-button {
  height: 56px;
  font-size: 21px;
  padding: 0 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cancel-button {
  background-color: white;
  border: 1px solid;
  transition: all 0.2s ease-in-out;
}

.cancel-button:hover {
  border: 1px solid rgb(0, 190, 232);
  color: rgb(0, 190, 232);
}

.create-contact-button {
  background-color: #2a3647;
  color: white;
  font-weight: bold;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.create-contact-button:hover {
  background-color: rgb(0, 190, 232);
}

.contact-inputs-buttons {
  display: flex;
  gap: 24px;
}

.edit-overlay-initials {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  color: white;
}

.add-contact-successful {
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translate(100vw, -50%);
  background-color: #2a3647;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 18px;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3000;
}

.add-contact-successful.active {
  transform: translate(-50%, -50%);
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

#mobile-contact-button {
  display: none;
}

#cancel-mobile {
  display: none;
}

@media (max-width: 1300px) {
  .contacts-header {
    display: flex;
    flex-direction: column;
  }

  .contacts-header img {
    display: none;
  }

  .contacts-header h1 {
    padding-bottom: 24px;
    border-bottom: 4px solid rgb(41, 171, 226);
  }
}

@media (max-width: 1160px) {
  .big-logo {
    display: none;
  }

  .mobile-logo {
    display: block !important;
    height: 48px;
    width: auto !important;
    margin-left: 5%;
  }

  .header-responsive {
    margin-left: 0;
    width: 100%;
    height: 8vh;
  }

  .header-and-icon {
    height: 100%;
  }

  .header-and-icon h2,
  .help-person-icon a {
    display: none;
  }

  .initials-and-username {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .contact-information-initials {
    width: 90px;
  }

  main {
    margin-top: 8vh;
    margin-left: 0 !important;
    margin-right: 0;
    margin-bottom: 0;
    width: 95% !important;
    padding: 0;
  }

  .title-main {
    padding: 0;
    padding-top: 10px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 25px;
  }

  nav {
    position: fixed !important;
    bottom: 0;
    top: auto !important;
    height: 10vh !important;
    width: 100% !important;
  }

  nav div {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
  }

  .nav-item {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
  }

  .nav-logo {
    padding: 0 !important;
  }

  .legal-info {
    display: none !important;
  }

  .contacts-header {
    display: none;
  }

  .contacts-page {
    width: 100%;
  }

  #contactDetails {
    width: 100%;
    margin-right: 5%;
  }

  .contacts-container {
    width: 100%;
    align-items: center;
    margin-left: 50px;
  }

  .add-contact-button {
    margin-right: 0;
    margin-left: 0;
    width: 90%;
  }

  #contacts {
    width: 100%;
    padding-left: 0;
    margin-bottom: 12vh;
  }

  hr {
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  #icon-img {
    transform: translateY(35%);
  }

  #header-contacts {
    display: none;
    position: relative;
  }

  #leave-contact-details-btn {
    position: absolute;
    top: 1.5rem;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #addContactOverlay,
  #editOverlay {
    flex-direction: column;
    height: 79vh;
    top: 45%;
    padding-bottom: 10px;
  }

  .contact-overlay-header {
    width: 100%;
    border-radius: 24px 24px 0 0;
  }

  .join-logo-img {
    display: none;
  }

  .contact-inputs-container,
  .contact-overlay-header {
    height: 50%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }

  .contact-inputs {
    width: 100%;
  }

  .contact-input {
    width: 100%;
    height: 36px;
  }

  #name-error-msg,
  #name-error-msg-edit {
    top: 115px;
    left: 24px;
  }

  #email-error-msg,
  #email-error-msg-edit {
    top: 195px;
    left: 24px;
  }

  #phone-error-msg,
  #phone-error-msg-edit {
    top: 275px;
    left: 24px;
  }

  button {
    font-size: 16px !important;
  }

  #contactName {
    margin-top: 36px;
  }

  #contact-logo-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }

  #contact-person-logo {
    height: 100px;
    width: 100px;
  }

  .contact-inputs-buttons {
    display: flex;
    justify-content: center;
  }

  #cancel-full-screen {
    display: none;
  }

  #cancel-mobile {
    display: flex;
    position: fixed;
    top: 2%;
    right: 2%;
    border: none;
    background-color: rgb(42, 54, 71);
    color: white;
  }

  .create-contact-button {
    height: 36px;
  }

  .account-nav-render-div {
    top: 8vh !important;
  }
}

@media (max-width: 1215px) {
  #addContactOverlay,
  #editOverlay {
    width: 95%;
  }

  .contact-inputs-container {
    margin-left: 40px;
    margin-right: 16px;
  }

  .contact-input {
    width: 100%;
  }
}

@media (max-width: 625px) {
  #contacts {
    margin-bottom: 0;
  }

  .contacts-container {
    margin-left: 0;
  }
}
