.container {
  height: 94vh;
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 100px;
}

.container h1 {
  font-size: 61px;
  padding-bottom: 20px;
}

main {
  height: 100vh;
  overflow-y: auto;
}

header h1 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 10px;
}

header p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: black;
  margin-bottom: 10px;
}

h3 {
  margin-block-end: 0px;
}

.number-and-header {
  display: flex;
  gap: 20px;
}

.headline-text {
  display: flex;
  flex-direction: column;
}

.join-blue-color {
  color: #29abe2;
}

.enjoy-text {
  padding-top: 20px;
  padding-bottom: 40px;
}

.header-arrow-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

@media (max-width: 625px) {
  .container {
    padding: 0;
    padding-left: 20px;
  }

  main {
    margin-bottom: 12vh !important;
  }
}

@media (max-width: 925px) {
  main {
    margin-top: 8vh;
    margin-left: 0 !important;
    margin-right: 0;
    margin-bottom: 0;
    width: 95% !important;
    padding: 0;
  }

  .title-main {
    padding: 0;
    padding-top: 10px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 25px;
  }

  .account-nav-render-div {
    top: 8vh !important;
  }
}
