body {
      font-family: Arial, sans-serif;
      height: auto !important;
}

main {
    margin-bottom: 64px ;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

main h2 {
    margin-top: 40px;
}

a {
    color: rgb(41, 171, 226);
    text-decoration: none;
}

#imprint {
    margin-bottom: 20px;
    font-size: 32px;
}

.header-arrow-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

@media (max-width: 1100px) {
    main {
        margin-bottom: 12vh !important;
    }
}

@media (max-width: 925px) {
    .account-nav-render-div {
    top: 8vh !important;
  }
}

@media (min-width: 1920px) {
  main {
    margin-left: 0 !important;
  }
}