nav {
  width: 232px;
  background-color: #2a3647;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.nav-logo {
  padding: 64px;
  width: 100%;
}

.nav-item {
  padding: 10px 56px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-item:hover {
  background-color: #2a3d59;
  cursor: pointer;
}

.nav-item.active {
  background-color: #091931;
}

nav a {
  color: #cdcdcd;
  text-decoration: none;
}

.legal-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
  color: #a8a8a8 !important;
}

.legal-info-item {
  gap: 8px;
  padding-bottom: 8px;
}

.legal-info-item:hover {
  color: #29abe2;
  font-weight: 550;
}

.legal-info:hover {
  background-color: #2a3647 !important;
}

@media (max-width: 1165px) {
  nav {
    position: fixed;
    bottom: 0;
    top: auto;
    height: 10vh;
    width: 100%;
    z-index: 10;
  }

  .legal-info {
    display: none;
  }
}
