body {
    height: auto !important;
}
main {
    margin-bottom: 64px;
}

li {
    list-style-type: none;
}

h2 {
    margin-bottom: 16px;
    margin-top: 16px;
}

.header-arrow-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

@media (max-width: 1100px) {
    main {
        margin-bottom: 12vh !important;
    }

    h1 {
        font-size: 40px !important;
    }
}

@media (max-width: 925px) {
    .account-nav-render-div {
    top: 8vh !important;
  }
}

@media (min-width: 1920px) {
  main {
    margin-left: 0 !important;
  }
}