@media (max-width: 625px) {
    /* index.html */

    @keyframes slide-out-tl {
    0% {
        top: 50%;
        left: 50%;
        width: 300px;
        height: 366px;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        top: 25px;
        left: 35px;
        width: 64px;
        height: 80px;
        transform: translate(0, 0) scale(1);
    }
    }

    header {
        position: absolute;
        bottom: 128px;
        margin-top: 0;
        width: 90%;
        padding: 0;
    }

    #header-div {        
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #sign-up-btn {
        width: 90px;
    }

    #main {
        width: 90%
    }

    #login-div {
        height: 60%;
    }

    .input-divider {
        width: 90%;
    }

    #email-input, #password-input {
        width: 100%;
    }

    #wrong-password-div {
        width: 90%;
    }

    .wrong-password-div {
        width: 90%;
    }

    #btn-login-div {
        flex-direction: column;
        width: 60%;
    }

    #btn-login-div button {
        width: 100%;
        margin-bottom: 24px;
    }

    /* index.html (sign-up menu)*/

    #sign-up-div {
        width: 90%;
    }

    .menu-input {
        width: 100%;
    }

    /*summary.html*/

    .big-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        height: 48px;
        width: auto;
        margin-left: 5%;
    }

    .header-responsive {
        margin-left: 0;
        width: 100%;
        height: 8vh;
    }

    .header-and-icon {
        height: 100%;
    }

    .header-and-icon h2,
    .help-person-icon a {
        display: none;
    }

    main {
        margin-top: 8vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        width: 95%;
    }

    .title-main {
        padding: 0;
        padding-top: 10px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 25px;
    }

    .full-screen-border {
        display: none;
    }

    .mobile-border {
        display: block;
    }

    .tasks-and-text {
        padding: 0;
        height: 436px;
        width: 100%;
    }

    .all-tasks {
        width: 100%;
    }

    .to-do, 
    .done,
    .urgent-and-date,
    .tasks-in-board,
    .tasks-in-progress,
    .awaiting-feedback {
        height: 132px;
    }

    nav {
        position: fixed;
        bottom: 0;
        top: auto;
        height: 10vh;
        width: 100%;
    }

    nav div {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-evenly;
    }

    .nav-item {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 20px;
    }

    .nav-logo {
        padding: 0;
    }

    .legal-info {
        display: none;
    }
}

@media (max-width: 750px) {
    
    #back-btn {
        right: 40%;
    }
}