body {
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

p {
  margin-block-start: 0px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  width: calc(100% - 232px);
  margin-left: 232px;
  background-color: #f6f7f8;
}

.header-and-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: white;
  box-shadow: 0 3px 3px rgb(230, 231, 231);
}

.header-and-icon h2 {
  padding-left: 150px;
}

.help-person-icon {
  display: flex;
  align-items: center;
  padding-right: 30px;
  gap: 16px;
}

.profile {
  font-weight: 600;
  font-size: 24px;
  color: #29abe2;
  height: 56px;
  width: 56px;
  border: 3px solid #2a3647;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-main {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 100px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.title-main h1 {
  font-size: 61px;
}

.title-main img {
  height: 80%;
}

.title-main span {
  color: #2a3647;
  font-size: 27px;
}

.tasks-and-text {
  display: flex;
  height: 560px;
  padding-left: 100px;
}

.tasks-and-text h3 {
  font-size: 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  align-self: center;
}

.tasks-and-text span {
  color: #2a3647;
  align-items: center;
}

.all-tasks {
  display: flex;
  flex-direction: column;
}

.toDo-and-done {
  display: flex;
  gap: 20px;
}

.toDo-and-done img {
  height: 60px;
  width: 60px;
}

.to-do {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  gap: 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.09);
  transition: 0.1s;
}

.to-do:hover {
  background-color: #2a3647;
  color: white;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}

.to-do:hover .change-circle-color {
  fill: white;
}

.to-do:hover .change-contents-color {
  fill: #2a3647;
}

.done {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  gap: 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.09);
  transition: 0.1s;
}

.done:hover {
  background-color: #2a3647;
  color: white;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}

.done:hover .change-circle-color {
  fill: white;
}

.done:hover .change-contents-color {
  stroke: #2a3647;
}

.urgent-and-date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 30px;
  margin-top: 20px;
  height: 168px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.09);
  transition: 0.1s;
}

.urgent-and-date:hover {
  background-color: #2a3647;
  color: white;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}

.urgent-and-date h4 {
  font-size: 21px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-bottom: 10px;
}

.urgent {
  display: flex;
  padding-right: 40px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tasks-in-editing {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  cursor: pointer;
}

.tasks-in-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 168px;
  width: 168px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.09);
  transition: 0.1s;
}

.tasks-in-board:hover {
  background-color: #2a3647;
  color: white;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}

.tasks-in-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 168px;
  width: 168px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.09);
  transition: 0.1s;
}

.tasks-in-progress:hover {
  background-color: #2a3647;
  color: white;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}

.awaiting-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 168px;
  width: 168px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.09);
  transition: 0.1s;
}

.awaiting-feedback:hover {
  background-color: #2a3647;
  color: white;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
  transition: scale(102s);
}

#goodMorning {
  width: 100%;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-bottom: 50px;
}

.greeting p {
  color: #2a3647;
  font-size: 47px;
  margin-block-end: 0px;
}

.greeting h2 {
  color: #29abe2;
  font-size: 64px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.mobile-border {
  display: none;
}

@media (max-width: 1100px) {
  .big-logo {
    display: none;
  }

  .mobile-logo {
    display: block !important;
    height: 48px;
    width: auto !important;
    margin-left: 5%;
  }

  .header-responsive {
    margin-left: 0;
    width: 100%;
    height: 8vh;
  }

  .header-and-icon {
    height: 100%;
  }

  .header-and-icon h2,
  .help-person-icon a {
    display: none;
  }

  main {
    margin-top: 8vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 95%;
  }

  .title-main {
    padding: 0;
    padding-top: 10px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 25px;
  }

  .full-screen-border {
    display: none;
  }

  .mobile-border {
    display: block;
  }

  .tasks-and-text {
    padding: 0;
    height: 436px;
    width: 100%;
  }

  .all-tasks {
    width: 100%;
  }

  .to-do,
  .done,
  .urgent-and-date,
  .tasks-in-board,
  .tasks-in-progress,
  .awaiting-feedback {
    height: 132px;
  }

  .urgent-and-date {
    gap: 0;
  }

  .urgent {
    padding-right: 20px;
    padding-left: 5px;
  }

  .mobile-padding {
    padding-right: 12px;
  }

  nav {
    position: fixed !important;
    bottom: 0;
    top: auto !important;
    height: 10vh !important;
    width: 100% !important;
  }

  nav div {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
  }

  .nav-item {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
  }

  .nav-logo {
    padding: 0 !important;
  }

  .legal-info {
    display: none !important;
  }

  main {
    margin-left: 0 !important;
  }

  header {
    position: absolute;
    bottom: 128px;
    margin-top: 0;
    width: 90%;
    padding: 0;
  }

  .urgent-and-date {
    max-width: 900px;
  }

  .to-do,
  .done {
    width: 520px;
  }

  .tasks-in-board,
  .tasks-in-progress,
  .awaiting-feedback {
    width: 336px;
  }

  .account-nav-render-div {
    top: 8vh !important;
  }

  #goodMorning {
    text-align: center;
  }

  .greeting {
    position: fixed;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 82vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-size: 24px;

    animation: fadeOut 1.5s ease forwards;
    animation-delay: 1s;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@media (max-width: 1250px) {
  .title-main,
  .tasks-and-text {
    padding-left: 40px;
  }

  #username {
    font-size: 48px;
  }
}

@media (max-width: 1000px) {
  main {
    width: 95% !important;
  }
}
